<div class="row">
   <div class="col-sm-6">
<table cellspacing="4" cellpadding="6" border="1">
 <tbody>
  <p> Category Name                 : <%= @expence_category.expence_source %> </p>
  <p> Description                   : <%= @expence_category.description %> </p>
 </tbody>
</table>
 </div>
</div>

<%= link_to "back",expence_category_index_path %> 