<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Money Manager</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Incomes<span class="caret"></span></a>
            <!-- <a href="#">Incomes<span class="caret"></span></a> -->
            <ul class="dropdown-menu">
              <li><a href="/incomes/new">Add New Income</a></li>
              <li><a href="/incomes/index">List of Incomes</a></li>
              <!-- <li><a href="interview_process/new">Interview Process</a></li>
              <li><a href="recruitment_process/new">Recruitment Process</a></li>
              <li><a href="employment_status/new">Employment Status</a></li>  -->
              <!-- <li><a href="document_template/new">Document Template</a></li>
              <li><a href="dashboard/show">All Employee</a></li> -->
            </ul>
           </li>
           <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Income Category<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/income_category/new">Add Income Category </a></li>
                  <li><a href="/income_category/index">List of Categories</a></li>
                  <!-- <li><a href="user_manual/contact_us">Contact Us</a></li> -->                    
                </ul>
              </a>
            </li>
           <li> 
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expences<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/expences/new">Add New Expence</a></li>
                <li><a href="/expences/index">Listing Expence</a></li>
                <!-- <li><a href="employees/search">Search Employee</a></li> -->
              </ul>
            </a>
          </li>
           <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expence Category<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/expence_category/new">Add Income Category </a></li>
                  <li><a href="/expence_category/index">List of Categories</a></li>
                  <!-- <li><a href="user_manual/contact_us">Contact Us</a></li> -->                    
                </ul>
              </a>
            </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bank Statements<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/transactions">Bank Statements/Incomes</a></li>
                <li><a href="/transactions/show">Bank Statements/Expences</a></li>
                <!-- <li><a href="candidate/search">Search Candidate</a></li> -->
              </ul>
            </a>
          </li>
          <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/reports/by_category">By Category</a></li>
                  <li><a href="/reports/by_date_range">By Date Range</a></li>
                  <!-- <li><a href="user_manual/contact_us">Contact Us</a></li> -->                    
                </ul>
              </a>
            </li>
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Manual<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <!-- <li><a href="user_manual/about_us">About Us </a></li>
                  <li><a href="user_manual/help">Help</a></li>
                  <li><a href="user_manual/contact_us">Contact Us</a></li> -->                    
                </ul>
              </a>
            </li>
      </div>
      <div class="clearfix visible-lg"></div>
    </div>
 </div>
 
</body>

